@font-face {
	font-family: KelsonSansBold;
	font-display: swap;
	src: url("../fonts/KelsonSansBold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KelsonSansRegular;
	font-display: swap;
	src: url("../fonts/KelsonSansRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KelsonSansLight;
	font-display: swap;
	src: url("../fonts/KelsonSansLight.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
